.AboutUs {
    &-container {
        width: 90%;
        display: flex;

        margin: 0 auto;
    }
    &-col {

    }
    &-title {

        &-sub {
            font-family: Chakra Petch;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 48px;
            leading-trim: NONE;
            line-height: 58px;
            letter-spacing: -0.5%;

            color: var(--white-color);
        }
    }
    &-text {
        color: var(--grey2-color);
    }
    &__checkBox {
        &-text {
            display: flex;
            gap: 1%;

            font-family: Chakra Petch;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 28px;
            letter-spacing: 0%;
            vertical-align: bottom;

            color: var(--white-color);
        }
    }
    &-button {
        font-family: Chakra Petch;
        font-weight: 700;
        font-style: Bold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        
        padding: 18px 38px;
        color: var(--white-color);
        background: linear-gradient(270deg, var(--purple10-color), var(--blue-color));
        border: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            opacity: .6;
        }
    }
}