.image-wrapper {
    position: relative;      // родитель должен быть position: relative
    display: inline-block;   // чтобы размер обёртки подстраивался под картинку

    &::before {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 8%;
        width: 84%;
        height: 84%;

        background: rgba(255, 255, 255, 0.06);
        z-index: -2;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: radial-gradient(
            ellipse 60% 40% at 40% 50%,
            rgba(174, 0, 255, 0.4),
            rgba(0, 60, 255, 0.1)
        );

        filter: blur(35px); /* свечение */
        z-index: -1; /* между прямоугольником и картинкой */
    }
    
    img {
        display: block;   // убрать "дырку" снизу
        position: relative;
        z-index: 2;       // картинка выше фона
    }
}

.AboutUs {
    &-container {
        width: 90%;
        display: grid;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 120px;
        grid-template-columns: 1fr 1fr;
    }
    &-col {
        position: relative;
        display: inline-block;
    }

    &-img {
        position: relative;
        z-index: 2;
        display: block;
        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: -10px;
            width: 100%;
            height: 100%;
            background: #6C63FF;
            border-radius: 12px;
            z-index: 1;
        }  
    }

    &-title {
        font-family: Chakra Petch;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 14%;
        text-transform: uppercase;

        display: inline-block;
        background: linear-gradient(90deg, var(--blue-color), var(--purple10-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &-sub {
            font-family: Chakra Petch;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 48px;
            leading-trim: NONE;
            line-height: 58px;
            letter-spacing: -0.5%;

            color: var(--white-color);
        }
    }
    &-text {
        color: var(--grey2-color);
    }
    &__checkBox {
        &-text {
            display: flex;
            gap: 1%;

            font-family: Chakra Petch;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            vertical-align: bottom;

            color: var(--white-color);
        }
    }
    &-button {
        padding: 18px 38px;
        margin-top: 10px;

        font-family: Chakra Petch;
        font-weight: 700;
        font-style: Bold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        
        color: var(--white-color);
        background: linear-gradient(270deg, var(--purple10-color), var(--blue-color));
        border: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            opacity: .6;
        }
    }
}