.image-wrapper {
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        bottom: 0%;
        left: -2%;
        width: 64%;
        height: 74%;

        background: rgba(255, 255, 255, 0.06);
        z-index: -2;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 70%;

        background: linear-gradient(0deg, #1CC4F9, #FE69FE);
        border-radius: 14000px 0px 15000px 0px; /* МАГИЯ */

        filter: blur(130px); /* свечение */
        z-index: -1; /* между прямоугольником и картинкой */
    }
    
}

.ChooseUs {
    &-title {
        font-family: Chakra Petch;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 14%;
        text-transform: uppercase;

        display: inline-block;
        background: linear-gradient(90deg, var(--blue-color), var(--purple10-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}