@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap');

:root {
  --linear-color: linear-gradient(to right, var(--blue-color), var(--purple10-color)) 1;
  --purple10-color: #CA6AEB;
  --blue-color: #19B5F1;
  --black100-color: #181818;
  --black50-color: #252532;
  --grey1-color: #B0B0B2;
  --grey2-color: #D1D1D1;
  --white-color: #FFFFFF;
}

.contact-hero {
    margin: 0 13%;
    padding: 100px 0 40px;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #3ab8ff, #ca6aeb) 1;
    &__title {
        font-size: 48px;
        color: var(--white-color);
        text-shadow: 0 0 5px var(--grey1-color);
    }
    
    &__breadcrumbs {
        margin-top: 10px;
        font-size: 14px;
        color: #ccc;
        
        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        
        span {
            margin: 0 5px;
        }
    }
}