@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap');

:root {
  --linear-color: linear-gradient(to right, var(--blue-color), var(--purple10-color)) 1;
  --purple10-color: #CA6AEB;
  --blue-color: #19B5F1;
  --black100-color: #181818;
  --black50-color: #252532;
  --grey1-color: #B0B0B2;
  --grey2-color: #D1D1D1;
  --white-color: #FFFFFF;
}

.wave-bg {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.header {
  margin-top: 25px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  z-index: 1;
  &__nav {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      gap: 65px;
      list-style: none;
    }
  }
  &__logo{
  }
  &__link {
    font-family: Chakra Petch;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

    color: var(--white-color);
    text-decoration: none;
    transition: .2s;
    &:hover {
      font-size: 17px;
      font-weight: 500;
    }
  }
  
  &__button {
    font-family: Chakra Petch;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 12px 24px;
    color: var(--white-color);
    border-image: var(--linear-color);
    background-color: var(--dark-color);
    &:active {
      background-color: #ffffff10;
    }
  }
}