.OurService {
    &-container {
        width: 100%;
        margin-top: 150px;
    }
    &-head {
        display: grid;
        align-items: start;
        grid-template-columns: 30% 70%;
    }
    &-blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 36px;
    }
    &-content {
        &:nth-child(2) {
            margin-top: 57px;
        }
        &:nth-child(3) {
            margin-top: 135px;
        }
    }
    &__block {
        margin-bottom: 32px;
        background-color: #25253299;
        &-img {

        }
        &-title {
            font-family: Chakra Petch;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: bottom;
            color: #FFF;
        }
        &-text {
            font-family: Chakra Petch;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #B0B0B2;
        }
    }
    &-title {
        font-family: Chakra Petch;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 14%;
        text-transform: uppercase;

        background: linear-gradient(90deg, var(--blue-color), var(--purple10-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &-sub {
            font-family: Chakra Petch;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.5%;

            color: #FFF;
        }
    }
    &-text {
        font-family: Chakra Petch;
        font-weight: 300;
        font-style: Light;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;

        color: #D1D1D1;
    }
}