.OurService {
    &-container {
        width: 100%;
        margin-top: 150px;
    }
    &-head {
        display: grid;
        align-items: start;
        grid-template-columns: 30% 70%;
    }
    &-blocks {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 36px;
    }
    &-content {
        &:nth-child(2) {
            margin-top: 57px;
        }
        &:nth-child(3) {
            margin-top: 135px;
        }
    }
    &__block {
        position: relative;
        overflow: hidden;
        margin-bottom: 32px;
        padding: 32px;

        border: 1px solid;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0))1;
        background-color: rgba(37, 37, 50, 0.6);
        z-index: 1;
        transition: .2s;
        &:hover {
            border-image: var(--linear-color);
            & .OurService__block-button {
                display: block;
                bottom: 10%;
                left: 30%;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -40px;
                left: -20%;
                width: 140%;
                height: 120px;
                
                background: linear-gradient(0deg, rgba(37, 37, 50, 0) 50%, rgba(37, 37, 50, 0.91) 53.06%, #000000 100%);
                    
                filter: blur(40px);
                pointer-events: none;
            }
        }
        &-button {
            position: absolute;
            display: none;
            margin-top: 20px;
            padding: 18px 28px;

            font-family: Chakra Petch;
            font-weight: 700;
            font-style: Bold;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 1.5px;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            
            transition: .2s;
            cursor: pointer;
            background-color: #252532;
            border-image: var(--linear-color);
            color:#FFF;
        }
        &-img {
            margin-bottom: 48px;
        }
        &-title {
            margin-bottom: 12px;
            font-family: Chakra Petch;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: bottom;
            color: #FFF;
        }
        &-text {
            font-family: Chakra Petch;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #B0B0B2;
        }
    }
    &-title {
        font-family: Chakra Petch;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 14%;
        text-transform: uppercase;

        background: linear-gradient(90deg, var(--blue-color), var(--purple10-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &-sub {
            font-family: Chakra Petch;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.5%;

            color: #FFF;
        }
    }
    &-text {
        font-family: Chakra Petch;
        font-weight: 300;
        font-style: Light;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;

        color: #D1D1D1;
    }
}