@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

:root {
  --linear-color: linear-gradient(to right, var(--blue-color), var(--purple10-color)) 1;
  --purple10-color: #CA6AEB;
  --blue-color: #19B5F1;
  --black100-color: #181818;
  --black50-color: #252532;
  --grey1-color: #B0B0B2;
  --grey2-color: #D1D1D1;
  --white-color: #FFFFFF;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;  
}

body {
  display: flex;
  background-color: var(--black100-color);
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  &__nav {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      gap: 1rem;
      list-style: none;
    }
  }
  &__logo{
  }
  &__link {
    font-family: "ChackraPeth", sans-serif;
    font-weight: var(--weight-light);
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
      font-weight: var(--weight-medium);
    }
  }
  
  &__button {
    font-family: "ChackraPeth", sans-serif;
    font-weight: light;
    font-size: 16px;
    line-height: 28px;
    padding: 12px 24px;
    color: var(--white-color);
    border-radius: 12px;
    border: 2px solid transparent;
    border-image: var(--linear-color);
    background-color: var(--dark-color);
  }
}