:root {
  --linear-color: linear-gradient(to right, var(--blue-color), var(--purple10-color)) 1;
  --purple10-color: #CA6AEB;
  --blue-color: #19B5F1;
  --black100-color: #181818;
  --black50-color: #252532;
  --grey1-color: #B0B0B2;
  --grey2-color: #D1D1D1;
  --white-color: #FFFFFF;
}

@font-face {
  font-family: 'ChakraPetch';
  src: local('ChakraPetch'), url('./fonts/MyFont.woff') format('woff');
}

body {
  font-family: 'ChakraPetch', sans-serif;
  display: flex;
  background-color: var(--black50-color);
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  &__nav {
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      gap: 1rem;
      list-style: none;
    }
  }
  &__logo{
  }
  &__link {
    color: #FFFFFF;
    text-decoration: none;
  }
  &__button {
    padding: 12px 24px;
    color: var(--white-color);
    border-radius: 12px;
    border: 2px solid transparent;
    border-image: var(--linear-color);
    background-color: var(--dark-color);
  }
}